# 1. ŚRODOWISKO PYTHON I CACHE
venv/
__pycache__/
*.pyc

# 2. BUDOWANIE I PAKIETY (SETUP.PY)
build/
*.egg-info/

# 3. SKOMPILOWANE PLIKI C / WYNIKI (LINUX)
*.o
*.so
*.out
tests_c/.outs/

# 4. TESTY
.pytest_cache/

# 5. EDYTORY
.vscode/